<h1> Welcome to Client Managment Support System </h1>
<br>
<form action="/signup" method="POST"> 
<label for="username">Username:</label>
<input type="text" name="username" id="username">

<br><br>

<label for="name">Your Name:</label>
<input type="text" name="name" id="name">

<br><br>

<label for="email">Your Email:</label>
<input type="text" name="email" id="email">

<br><br>

<label for="password">Password:</label>
<input type="password" name="password" id="password">

<br><br>

<input type="submit" value="Create Account">


</form>

<br><br
>
<a href="/login">Login</a>