<h1> Please login</h1>

<br><br>
<form action="/login" method="POST">
<label for="username">Username:</label>
<input type="text" name="username" id="username">

<br><br>

<label for="password">Password:</label>
<input type="password" name="password" id="password">

<br><br>
<input type="submit" value="Submit">
<br><br>

<a href="/signup">Click me to SIGN UP </a>

</form>
