<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Client Management Application</h2>

    <div class="content">
      <p>Welcome to the Client Managment Application. Here you will be able to easily track all your clients easily. 
      You don't have to get confused with paper forms, those days are over! Simply create your own personal account 
      and start tracking your clients. </p>
    </div>

    <div class="sidebar">
      <h3>SIGN UP TODAY!</h3>
      <ul>
        <li><b><a href="/signup">Click me to SIGN UP </a></li>
        <p>
        <li><b><a href="/login">Login</a></li>
      </ul>
    </div>

  </div>
</div>

